#chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
  /* padding-top: 14px; */
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}
.main-chat {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*여기까지 6.30*/

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__author {
  display: block;
  margin-bottom: 5px;
}
.message__bubble {
  background-color: white;
  padding: 8px 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;

  font-size: 18px;
}
.message__author,
.message__time {
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
}

.message-row__own {
  justify-content: flex-end;
}
.message-row__own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
/* order: flex children에게만 먹힘 */
/* .message-row__own .message__bubble {
  order: 1;
}
.message-row__own .message__time {
  order: 0;
} */

.message-row__own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  align-items: center;
}
.reply .reply-column:first-child {
  width: 10%;
}
.reply .reply-column:first-child i {
  font-size: 30px;
  width: 10%;
}
.reply .reply-column:last-child {
  width: 90%;
  position: relative;
}
.reply i {
  opacity: 0.5;
}
.reply input {
  padding: 10px 5px;
  height: 20px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}

.reply-column:last-child > i,
.reply-column:last-child button {
  position: absolute;
  right: -6px;
  top: 6px;
}

.reply-column:last-child > i {
  right: 40px;
  top: 13px;
}
.reply-column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply-column button:focus,
.reply-column button:active {
  outline: none;
}
.reply-column button i {
  opacity: 1;
}
