#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
/*645px 보다 작거나 같다면 위의 코드를, 아니면 display: none;*/
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
